<footer>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="sectionheader">Footer Link Section 1</div>
            <ul>
                <li><a href="#">Footer Link Item 1</a></li>
                <li><a href="#">Footer Link Item 2</a></li>
                <li><a href="#">Footer Link Item 3</a></li>
                <li><a href="#">Footer Link Item 4</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="sectionheader">Footer Link Section 2</div>
            <ul>
                <li><a href="#">Footer Link Item 1</a></li>
                <li><a href="#">Footer Link Item 2</a></li>
                <li><a href="#">Footer Link Item 3</a></li>
                <li><a href="#">Footer Link Item 4</a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-3 pull-right">
            <img class="img-responsive" src="~/Content/images/trust_icons2.png" />
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-12 legaltext">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget laoreet lectus. Nam eu placerat lectus. Nullam tincidunt est purus. Integer viverra ex vel iaculis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean pellentesque orci a massa rutrum fringilla. Sed facilisis congue enim sit amet sollicitudin. Phasellus ultrices nibh in metus cursus, quis euismod eros auctor. Integer blandit quam vitae placerat egestas. Pellentesque rutrum magna vitae dui consectetur, ultrices eleifend dui placerat.</p>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-12 copyrighttext">
            <div class="copyright">
                &copy; @DateTime.Now.Year - All Rights Reserved ACMEcorp
            </div>
        </div>
    </div>

</footer>