@{
    ViewBag.Title = "Home Page";
}

<div class="row content">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget laoreet lectus. Nam eu placerat lectus. Nullam tincidunt est purus. Integer viverra ex vel iaculis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean pellentesque orci a massa rutrum fringilla. Sed facilisis congue enim sit amet sollicitudin. Phasellus ultrices nibh in metus cursus, quis euismod eros auctor. Integer blandit quam vitae placerat egestas. Pellentesque rutrum magna vitae dui consectetur, ultrices eleifend dui placerat.
        </p>
        <p>
            Curabitur at cursus sem. Nunc vehicula condimentum nisl in pretium. Vestibulum accumsan dictum porttitor. Cras id sem vitae magna tincidunt ultricies. Morbi quis magna eget nibh convallis placerat sed eget dolor. Nunc commodo arcu finibus imperdiet dignissim. Phasellus at ante nisi. Sed sit amet pharetra odio.
        </p>
        <p>
            Nullam congue imperdiet imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc facilisis elementum purus, sed condimentum ex suscipit quis. Fusce justo mauris, maximus eget malesuada a, luctus et urna. Vestibulum interdum vitae augue at laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque non ligula et nisi rutrum feugiat id ut purus. Nam pharetra magna faucibus, vulputate odio consectetur, mollis ipsum. Nunc nec dolor eros. Proin sit amet pretium dui. Aenean ullamcorper eleifend laoreet.
        </p>
    </div>
</div>

<div class="row content">
    <div class="col-md-6">
        <img class="img-responsive" src="~/Content/images/small-kids.jpg" />
    </div>

    <div class="col-md-6 righttext">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget laoreet lectus. Nam eu placerat lectus. Nullam tincidunt est purus. Integer viverra ex vel iaculis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean pellentesque orci a massa rutrum fringilla. Sed facilisis congue enim sit amet sollicitudin. Phasellus ultrices nibh in metus cursus, quis euismod eros auctor. Integer blandit quam vitae placerat egestas. Pellentesque rutrum magna vitae dui consectetur, ultrices eleifend dui placerat.
        </p>
        <p>
            Curabitur at cursus sem. Nunc vehicula condimentum nisl in pretium. Vestibulum accumsan dictum porttitor. Cras id sem vitae magna tincidunt ultricies. Morbi quis magna eget nibh convallis placerat sed eget dolor. Nunc commodo arcu finibus imperdiet dignissim. Phasellus at ante nisi. Sed sit amet pharetra odio.
        </p>
        <p>
            Nullam congue imperdiet imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc facilisis elementum purus, sed condimentum ex suscipit quis. Fusce justo mauris, maximus eget malesuada a, luctus et urna. Vestibulum interdum vitae augue at laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque non ligula et nisi rutrum feugiat id ut purus. Nam pharetra magna faucibus, vulputate odio consectetur, mollis ipsum. Nunc nec dolor eros. Proin sit amet pretium dui. Aenean ullamcorper eleifend laoreet.
        </p>
    </div>
</div>

<div class="row content">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget laoreet lectus. Nam eu placerat lectus. Nullam tincidunt est purus. Integer viverra ex vel iaculis sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean pellentesque orci a massa rutrum fringilla. Sed facilisis congue enim sit amet sollicitudin. Phasellus ultrices nibh in metus cursus, quis euismod eros auctor. Integer blandit quam vitae placerat egestas. Pellentesque rutrum magna vitae dui consectetur, ultrices eleifend dui placerat.
        </p>
        <p>
            Curabitur at cursus sem. Nunc vehicula condimentum nisl in pretium. Vestibulum accumsan dictum porttitor. Cras id sem vitae magna tincidunt ultricies. Morbi quis magna eget nibh convallis placerat sed eget dolor. Nunc commodo arcu finibus imperdiet dignissim. Phasellus at ante nisi. Sed sit amet pharetra odio.
        </p>
        <p>
            Nullam congue imperdiet imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc facilisis elementum purus, sed condimentum ex suscipit quis. Fusce justo mauris, maximus eget malesuada a, luctus et urna. Vestibulum interdum vitae augue at laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque non ligula et nisi rutrum feugiat id ut purus. Nam pharetra magna faucibus, vulputate odio consectetur, mollis ipsum. Nunc nec dolor eros. Proin sit amet pretium dui. Aenean ullamcorper eleifend laoreet.
        </p>
    </div>
</div>

<div class="row content">
    <div class="col-md-12">
        <img class="img-responsive" src="~/Content/images/kids_bar.jpg" />
    </div>
</div>